<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>sampleColor2</key>
		<dict>
			<key>color</key>
			<string>#cccccc</string>
			<key>alpha</key>
			<integer>200</integer>
		</dict>
		<key>sampleColor1</key>
		<string>#000000</string>
	</dict>
</dict>
</plist>
