<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Error.plist
   BlocQuery

   Created by Weinan Qiu on 2015-10-16.
   Copyright (c) 2015 Kumiq. All rights reserved.
-->
<plist version="1.0">
    <dict>
      <key>Parse</key>
      <dict>
        <key>101:login</key>
  			<dict>
  				<key>description</key>
  				<string>Login failed.</string>
  				<key>reason</key>
  				<string>Login parameters are invalid.</string>
  				<key>recovery</key>
  				<string>Oops! We did not find your account. Please make sure email and password are correct.</string>
  			</dict>
  			<key>200:*</key>
  			<dict>
  				<key>description</key>
  				<string>Username is missing.</string>
  				<key>reason</key>
  				<string>Username is missing.</string>
  				<key>recovery</key>
  				<string>Please provide a username.</string>
  			</dict>
  			<key>201:*</key>
  			<dict>
  				<key>description</key>
  				<string>Password is missing.</string>
  				<key>reason</key>
  				<string>Password is missing.</string>
  				<key>recovery</key>
  				<string>Please provide a password.</string>
  			</dict>
  			<key>202:*</key>
  			<dict>
  				<key>description</key>
  				<string>Username is taken.</string>
  				<key>reason</key>
  				<string>Username is taken.</string>
  				<key>recovery</key>
  				<string>Username is taken. Please choose another username.</string>
  			</dict>
  			<key>203:*</key>
  			<dict>
  				<key>description</key>
  				<string>Email is taken.</string>
  				<key>reason</key>
  				<string>Email is taken.</string>
  				<key>recovery</key>
  				<string>Email is taken. Please log in if you have already registered.</string>
  			</dict>
  			<key>204:*</key>
  			<dict>
  				<key>description</key>
  				<string>Email is missing.</string>
  				<key>reason</key>
  				<string>Email is missing.</string>
  				<key>recovery</key>
  				<string>Email is missing. Please provide your email.</string>
  			</dict>
  			<key>205:*</key>
  			<dict>
  				<key>description</key>
  				<string>User with email not found.</string>
  				<key>reason</key>
  				<string>User with email not found.</string>
  				<key>recovery</key>
  				<string>We don't have a user with this email on record.</string>
  			</dict>
      </dict>
      <key>BlocQuery</key>
      <dict>
        <key>EmailValidationFailed:*</key>
  			<dict>
  				<key>description</key>
  				<string>Email validation failed.</string>
  				<key>reason</key>
  				<string>Email does not pass regular expression test.</string>
  				<key>recovery</key>
  				<string>Please provide a valid email address.</string>
  			</dict>
        <key>PasswordValidationFailed:*</key>
        <dict>
          <key>description</key>
  				<string>Password validation failed.</string>
  				<key>reason</key>
  				<string>Password does not pass regular expression test.</string>
  				<key>recovery</key>
  				<string>Please provide a password of 8 to 16 characters in length and contains at least one numeric character.</string>
        </dict>
        <key>FirstNameValidationFailed:*</key>
        <dict>
          <key>description</key>
  				<string>FirstName validation failed.</string>
  				<key>reason</key>
  				<string>FirstName cannot be null.</string>
  				<key>recovery</key>
  				<string>Please tell us your first name.</string>
        </dict>
        <key>LastNameValidationFailed:*</key>
        <dict>
          <key>description</key>
  				<string>LastName validation failed.</string>
  				<key>reason</key>
  				<string>LastName cannot be null.</string>
  				<key>recovery</key>
  				<string>Please tell us your last name.</string>
        </dict>
        <key>TextInsufficientLength:*</key>
        <dict>
          <key>description</key>
  				<string>Text validation failed</string>
  				<key>reason</key>
  				<string>Insufficient length</string>
  				<key>recovery</key>
  				<string>Please provide a question of at least {{count}} characters.</string>
        </dict>
        <key>GetGravatarFailed:*</key>
        <dict>
          <key>description</key>
  				<string>Get Gravatar failed</string>
  				<key>reason</key>
  				<string>Gravatar.com did not return any data</string>
  				<key>recovery</key>
  				<string>We couldn't locate your Gravatar. Please make sure you have registered gravatar.com with the same email you registered with us.</string>
        </dict>
      </dict>
    </dict>
</plist>
